@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
$spartan: 'Spartan',
sans-serif;

@for $i from 1 through 5 {
    $col-start: 1 * $i;
    .col-start-#{$i} {
        grid-column-start: $col-start;
    }
}

@for $i from 1 through 5 {
    $col-end: 1 * $i;
    .col-end-#{$i} {
        grid-column-end: $col-end;
    }
}

:root {
    --body-bg: #3A4663;
    --bg-keys: deepskyblue;
}

body.theme2 {
    --bg-keys: deeppink;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3A4663;
}

button,
input,
h1,
span {
    font-family: $spartan;
    font-weight: 700;
}

h1,
span,
input,
.operator,
.result {
    color: #fff;
}

input,
button,
.keys-container {
    border-radius: 10px;
}

h1,
button {
    font-size: 32px;
    line-height: 35.84px;
    letter-spacing: -0.53px;
    margin: 0;
}

main {
    display: flex;
    height: 90%;
}

.main-container {
    max-width: 540px;
    margin: 50px auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.theme {
    display: flex;
    justify-content: end;
    align-items: center;
    span {
        font-size: 12px;
        line-height: 13.44px;
        align-self: flex-end;
        margin-bottom: 4px;
    }
}

.input-theme-container {
    display: flex;
    flex-direction: column;
}

.span-theme-container {
    margin-left: 21px;
    display: flex;
    justify-content: space-around;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #242D44;
    width: 71px;
    height: 26px;
    border-radius: 13px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 0 21px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #D03F2F;
}

input[type=range]:focus {
    outline: none;
}



.display-input {
    margin-top: 32px;
    input {
        box-sizing: border-box;
        background-color: #181F33;
        font-size: 48px;
        line-height: 53.76px;
        letter-spacing: -0.8px;
        text-align: right;
        padding: 36px 32px;
        border: none;
        width: 100%;
    }
}

.keys-container {
    padding: 32px;
    background-color: #242D44;
    grid-gap: 25px;
    margin-top: 24px;
    button {
        border: none;
        padding: 10px 14px 14px 14px;
        &:hover {
            cursor: pointer;
        }
    }
}

.keys {
    background-color: #EAE3DC;
    box-shadow: inset 0px -4px 0px #B3A497;
    color: #53555a;
    &:hover {
        background-color: #FFFFFE;
    }
}

.operator {
    background-color: #647198;
    box-shadow: inset 0px -4px 0px #414E73;
    font-size: 20px;
    letter-spacing: -0.33px;
    &:hover {
        background-color: #A2B2E1;
    }
}

.result {
    background-color: #D03F2F;
    box-shadow: inset 0px -4px 0px #93261A;
    &:hover {
        background-color: #F96B5B;
    }
}

@media screen and (max-width: 540px) {
    .theme {
        margin-right: 10px;
    }
    .logo {
        margin-left: 10px;
    }

    .display-input {
        input {
            border-radius: 0;
        }
    }

    .keys-container {
        border-radius: 0;
        padding: 12px;
        grid-gap: 18px;
        margin-top: 15px;
    }

    .main-container {
        margin: 7px auto 0 auto;
    }
}