@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-end-1 {
  grid-column-end: 1;
}

.col-end-2 {
  grid-column-end: 2;
}

.col-end-3 {
  grid-column-end: 3;
}

.col-end-4 {
  grid-column-end: 4;
}

.col-end-5 {
  grid-column-end: 5;
}

:root {
  --body-bg: #3A4663;
  --main-txt-color: #fff;
  --bg-input-theme: #242D44;
  --bg-input-thumb-theme: #D03F2F;
  --bg-display: #181F33;
  --bg-key-container: #242D44;
  --bg-keys: #EAE3DC;
  --shadow-keys: inset 0px -4px 0px #B3A497;
  --color-keys: #434A59;
  --bg-keys-hover: #FFFFFE;
  --bg-operator: #647198;
  --shadow-operator: inset 0px -4px 0px #414E73;
  --bg-operator-hover: #A2B2E1;
  --bg-result: #D03F2F;
  --shadow-result: inset 0px -4px 0px #93261A;
  --bg-result-hover: #F96B5B;
  --span-operator: #5880f1;
}

body.theme2 {
  --body-bg: #E6E6E6;
  --main-txt-color: #36362C;
  --bg-input-theme: #D2CDCD;
  --bg-input-thumb-theme: #C85402;
  --bg-display: #EEEEEE;
  --bg-key-container: #D2CDCD;
  --bg-keys: #E5E4E1;
  --shadow-keys: inset 0px -4px 0px #A79E91;
  --color-keys: #36362C;
  --bg-keys-hover: #FFFFFF;
  --bg-operator: #378187;
  --shadow-operator: inset 0px -4px 0px #1B6066;
  --bg-operator-hover: #62B5BC;
  --bg-result: #C85402;
  --shadow-result: inset 0px -4px 0px #873901;
  --bg-result-hover: #FF8A38;
  --span-operator: #6d6d6d;
}

body.theme3 {
  --body-bg: #17062A;
  --main-txt-color: #FFE53D;
  --bg-input-theme: #2a0d4b;
  --bg-input-thumb-theme: #00DED0;
  --bg-display: #2a0d4b;
  --bg-key-container: #1E0936;
  --bg-keys: #331C4D;
  --shadow-keys: inset 0px -4px 0px #881C9E;
  --color-keys: #FFE53D;
  --bg-keys-hover: #6C34AC;
  --bg-operator: #56077C;
  --shadow-operator: inset 0px -4px 0px #BE15F4;
  --bg-operator-hover: #8631AF;
  --bg-result: #00DED0;
  --shadow-result: inset 0px -4px 0px #6CF9F1;
  --bg-result-hover: #93FFF8;
  --span-operator: #ff00fe;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
}

button,
input,
h1,
span {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

h1,
span,
input,
.operator,
.result {
  color: var(--main-txt-color);
}

input,
button,
.keys-container {
  border-radius: 10px;
}

h1,
button {
  font-size: 32px;
  line-height: 35.84px;
  letter-spacing: -0.53px;
  margin: 0;
}

main {
  display: flex;
  height: 90%;
}

.main-container {
  max-width: 540px;
  margin: 50px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.theme {
  display: flex;
  justify-content: end;
  align-items: center;
}
.theme span {
  font-size: 12px;
  line-height: 13.44px;
  align-self: flex-end;
  margin-bottom: 4px;
}

.input-theme-container {
  display: flex;
  flex-direction: column;
}

.span-theme-container {
  margin-left: 21px;
  display: flex;
  justify-content: space-around;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: var(--bg-input-theme);
  width: 71px;
  height: 26px;
  border-radius: 13px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 0 0 21px;
}
input[type=range]:hover {
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--bg-input-thumb-theme);
}

input[type=range]:focus {
  outline: none;
}

.display-input {
  margin-top: 32px;
  position: relative;
}
.display-input .operator-span {
  position: absolute;
  top: 3px;
  right: 6px;
  font-size: 30px;
  font-family: "Spartan", sans-serif;
  color: var(--span-operator);
}
.display-input input {
  box-sizing: border-box;
  background-color: var(--bg-display);
  font-size: 48px;
  line-height: 53.76px;
  letter-spacing: -0.8px;
  text-align: right;
  padding: 36px 32px;
  border: none;
  width: 100%;
}

.keys-container {
  padding: 32px;
  background-color: var(--bg-key-container);
  grid-gap: 25px;
  margin-top: 24px;
}
.keys-container button {
  border: none;
  padding: 10px 14px 14px 14px;
}
.keys-container button:hover {
  cursor: pointer;
}

.keys {
  background-color: var(--bg-keys);
  box-shadow: var(--shadow-keys);
  color: var(--color-keys);
}
.keys:hover {
  background-color: var(--bg-keys-hover);
}

.operator {
  background-color: var(--bg-operator);
  box-shadow: var(--shadow-operator);
  font-size: 20px;
  letter-spacing: -0.33px;
}
.operator:hover {
  background-color: var(--bg-operator-hover);
}

.result {
  background-color: var(--bg-result);
  box-shadow: var(--shadow-result);
}
.result:hover {
  background-color: var(--bg-result-hover);
}

@media screen and (max-width: 540px) {
  .theme {
    margin-right: 10px;
  }

  .logo {
    margin-left: 10px;
  }

  .display-input input {
    border-radius: 0;
  }

  .keys-container {
    border-radius: 0;
    padding: 12px;
    grid-gap: 18px;
    margin-top: 15px;
    background-color: transparent;
  }

  .main-container {
    margin: 7px auto 0 auto;
  }
}
@media screen and (max-height: 610px) {
  .main-container {
    margin: 0 auto;
  }

  .logo {
    display: none;
  }

  .theme {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
